# ignore objects and archives, anywhere in the tree.
*.[oa]
**/__pycache__
__pycache__
venv/
virtualenv.txt
__pycache__/config.cpython-37.pyc
app/__pycache__/__init__.cpython-37.pyc
app/__pycache__/forms.cpython-37.pyc
.idea/workspace.xml