{% extends "layout.html" %}
{% block content %}

      {% if title %}
      <title>{{ title }} </title>
      {% else %}
      <title>Welcome to Meir</title>
      {% endif %}
    </head>
    <body>
    <h1>{{title}}</h1>

    <p>
            {{ form.command.label  }}<br>
            {{ form.command(id = "inputtext") }}
            {% for error in form.command.errors %}
            <span id = "incorrect" style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    </body>
{% endblock %}
